body {
  background-image: url('fbi.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#tekst {
	font-family:Bahnschrift;
	font-weight: lighter;
	text-align: justify;
	font-size: 20px;
	color: rgb(230, 247, 255);
}
#opis {
	margin-left: 3%;
	margin-right: 3%;
}
.welcome {
	font-style: italic;
	margin-right: 1%;
	margin-left: 1%;
	color: rgba(230, 241, 255, 0.5);
	filter: alpha(opacity=50);
}
.kamilicja {
	float: right;
	margin-left: 10px;
	width: 140px;
}
.fanatyzm {
	margin-top: 50px;
}
a {
	text-decoration: line;
	color: white;
}